<?xml version="1.0"?>
<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${node}][${time:%H:%M:%S%F}][${severity}]:${message}"/>

  <group ns="swarm158">
    <node pkg="dithas" type="plane_segmentation" name="dithas_odom" output="screen">
      <param name="ransac_dis_thres" value="0.1"/>
      <remap from="~point_cloud" to="/cloud_registered"/>
      <remap from="~plane_odom" to="/swarm158/dithas_odom/tag_odom"/>
    </node>
  </group>

  <group ns="swarm155">
    <node pkg="dithas" type="dithas_odom" name="dithas_odom" output="screen">
      <rosparam file="$(find dithas)/config/body2cam.yaml" command="load"/>
      <remap from="~tag_detections" to="/tag_detections"/>
    </node>
    <node pkg="dithas" type="dithas_solve_test" name="dithas_solver" output="screen">
      <remap from="~tag_odom_self" to="/swarm155/dithas_odom/tag_odom"/>
      <remap from="~tag_odom_glbl" to="/swarm158/dithas_odom/tag_odom"/>
    </node>
  </group>


  <node pkg="tf" type="static_transform_publisher" name="tf_plane" args="0 0 0 0 0 0 1 /camera_init /map 100" output="screen"/>

  <node pkg="rviz" type="rviz" name="vis_bags" args="-d $(find dithas)/config/lidar_cam.rviz" output="screen"/>

</launch>
