<?xml version="1.0"?>
<launch>
  <node pkg="dithas" type="dithas_odom" name="dithas_odom" output="screen">
    <rosparam file="$(find dithas)/config/body2cam.yaml" command="load"/>
  </node>

  <include file="$(find apriltag_ros)/launch/continuous_detection.launch" >
    <arg name="launch_prefix" value="timeout 5 "/>
    <arg name="camera_name" value="/camera/infra1"/>
    <arg name="image_topic" value="image_rect_raw"/>
  </include>


</launch>
